@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

 html, body {
   width: 100%;
   min-height: 100%;
   margin: 0;
   justify-content: center;
   background: #f0f0d8;
   font-family: 'Patrick Hand SC', cursive;
}
body h1 {
   margin-top: 2rem;
   margin-bottom: 0.5rem;
   text-align: center;
   color: #41403e;
   font-size: 4rem;
}
body h2 {
   margin-top: 0.1rem;
   margin-bottom: 0.5rem;
   text-align: center;
   color: #41403e;
   font-size: 2rem;
}
body section {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   min-height: 100%;
   margin-bottom: 0.1rem;
}
body section a {
   text-decoration: none;
   align-self: center;
   background: transparent;
   padding: 1rem 1rem;
   margin: 0.5rem 1rem;
   transition: all 0.5s ease;
   color: #41403e;
   font-size: 2rem;
   letter-spacing: 1px;
   outline: none;
   box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
   border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
body section a:hover {
   box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
body section a.lined.thick {
   border: solid 7px #41403e;
}

img {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  border: 2px solid #41403e;
}


footer {
  clear: both;
  position: relative;
  margin-top: 5rem;
  background-color: #f0f0d8;
  text-align: center;
  font-size: 1.5rem;
}

 @media (max-width: 620px) {

   body section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 1rem;
  }
   body section button {
     align-self: center;
     margin-bottom: 2rem;
  }
}


 