@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F0F0D8;
  font-family: 'Patrick Hand SC', cursive;
}
html h1, body h1 {
  margin-top: -5rem;
  margin-bottom: -0.1rem;
  text-align: center;
  color: #41403E;
  font-size: 4rem;
}
html h2, body h2 {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #41403E;
  font-size: 2rem;
}
html section, body section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: 3rem;
}
html section a, body section a {
  text-decoration: none;
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0.5rem 1rem;
  transition: all .5s ease;
  color: #41403E;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
html section a:hover, body section a:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
html section a.lined.thick, body section a.lined.thick {
  border: solid 7px #41403E;
}
html section a.dotted.thick, body section a.dotted.thick {
  border: dotted 5px #41403E;
}
html section a.dashed.thick, body section a.dashed.thick {
  border: dashed 5px #41403E;
}
html section a.lined.thin, body section a.lined.thin {
  border: solid 2px #41403E;
}
html section a.dotted.thin, body section a.dotted.thin {
  border: dotted 2px #41403E;
}
html section a.dashed.thin, body section a.dashed.thin {
  border: dashed 2px #41403E;
}

@media (max-width: 620px) {
  body h1 {
    margin-top: 2rem;
  }
  body section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  body section button {
    align-self: center;
    margin-bottom: 2rem;
  }
}
